<section class="app-home-nav-nav-bar">
  <div class="nav-link-add">
    <span><a href="/place/create">Add Place</a></span>
  </div>
  <div class="nav-link-list">
    <span><a href="/place/list">All Places</a></span>
  </div>
  <div class="welcome-phrase">
    <div class="content">
      <h1 class="title"> 
        <span>I'm just</span>
        <span>a really simple</span>
        <span>test</span>
      </h1>
    </div>
  </div>
</section>


      

