
<div class="container" id="container">

    <!-- SIGN OUT FORM -->
  <div class="form-container sign-up-container">
    <form action="/authentication/join-us" method="POST">
      <div class="social-container">
        <a href="/git-hub-authentication/github"><img src="/images/GitHub-Mark-120px-plus.png" class="git-hub-logo" alt="GitHub"/></a>
        <a href="/google-authentication"><img src="/images/Google_Plus_logo.svg" class="google-logo" alt="Google"/></a>
      </div>
      <input type="text" id="input-name" name="name" placeholder="Your Name" />
      <input type="email" id="input-email" name="email" placeholder="Your Email" />
      <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
      <button>Sign Up</button>
    </form>
  </div>

  <!-- SIGN IN FORM -->
  <div class="form-container sign-in-container">
    <form action="/authentication/join-us" method="POST">
      <div class="social-container">
        <a href="/git-hub-authentication/github"><img src="/images/GitHub-Mark-120px-plus.png" class="git-hub-logo" alt="GitHub"/></a>
        <a href="/google-authentication/google"><img src="/images/Google_Plus_logo.svg" class="google-logo" alt="Google"/></a>
      </div>
      <input type="email" id="input-email" name="email" placeholder="Your Email" />
      <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
      <button>Sign In</button>
    </form>
  </div>

  <div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start join us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>

</div>