<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/"><img="" alt="logo" id="logo-img" />LOGO IMG</a>
      <a href="/menu/see-all-places">See All Places</a>
      <a href="/menu/add-place">Add Place</a>
      <a href="/menu/geolocation">Geolocation</a>
      {{#if user}}
        <a href="/">{{user.name}}'s Profile</a>
        <form action="/auign Outthentication/sign-out" method="POST">
          <button>S</button>
        </form>
        {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a> 
        layout.hbs   
      {{/if}}
    </nav>
      {{{body}}}

    
    <script src="/scripts/script.js"></script>
    <script src="/scripts/sign-in-sign-out-script.js"></script>
  </body>
</html>
