<h1>Private</h1>

{{#each user}}

  <span><img src="{{ user.photo }}" class="profile-picture"></a></span>

  <span><strong>Name</strong>:{{name}}'s Profile</span>
  <br />
  <span><strong>Email</strong>: {{email}}</span>
  <br />

{{/each}}

