<form action="/place/create" method="POST">
  <div id="map-container"></div>

  <label for="name-input">Place Name</label>
  <input required id="name-input" type="text" name="name" placeholder="Place Name">

  <label for="latitude-input">Place Latitude</label>
  <input required id="latitude-input" type="text" name="latitude" placeholder="Restaurant Latitude">

  <label for="longitude-input">Place Longitude</label>
  <input required id="longitude-input" type="text" name="longitude" placeholder="Restaurant Longitude">

  <label for="description-input">Description</label>
  <input required id="drescription-input" type="text" name="description" placeholder="Place Description">
  
  <button>Create Place</button>
</form>