*, *:before, *:after {
  box-sizing: border-box; }

body {
  max-width: 100em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2; }

a {
  color: black;
  text-decoration: none; }

a:link,
a:hover {
  color: black;
  text-decoration: none; }

a#logo-img {
  margin: 0 auto;
  padding-left: 3em; }

.profile-name {
  margin: 20px 0 0 0; }

.join-us {
  margin: 15px 50px 0 10px; }

.sign-out {
  display: inline-block;
  padding: 10px 10px;
  margin: 20px 0 10px 0;
  border-radius: 50px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffffff;
  background-color: #6a30ec;
  text-align: center;
  transition: all 0.2s;
  width: 100px;
  height: 50px; }

nav {
  display: flex;
  border-bottom: 1px solid #f6f5f7; }
  nav a,
  nav button {
    padding: 1em 0;
    border: 0; }
    nav a:not(:last-child),
    nav button:not(:last-child) {
      margin-right: 1em;
      z-index: 1; }
    nav a:first-child,
    nav button:first-child {
      margin-right: auto; }

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit; }
  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  p:not(:last-child) {
    margin-bottom: 1rem; }

img {
  width: 100%;
  max-width: 100%; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  height: 100%;
  text-align: center; }

input,
textarea,
.btn {
  padding: 1em;
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent; }

textarea {
  min-height: 8em;
  resize: vertical; }

.profile-picture {
  max-width: 3em;
  border-radius: 50%;
  margin-right: 1em; }

input {
  width: 33em; }

button {
  width: 15em;
  border: 1px solid;
  background-color: #6a30ec;
  color: #ffffff;
  font-size: 1em;
  padding: 1em 2.5em;
  transition: transform 80ms ease-in;
  border-radius: 50px; }

button:active {
  transform: scale(0.95); }

button:focus {
  outline: none; }

button.ghost {
  background-color: transparent;
  border-color: #ffffff; }

#container {
  margin-top: 5em;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 60vh; }

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out; }

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2; }

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0; }

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1; }

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s; }

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100; }

.container.right-panel-active .overlay-container {
  transform: translateX(-100%); }

.overlay {
  background: #6a30ec;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out; }

.container.right-panel-active .overlay {
  transform: translateX(50%); }

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3em;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out; }

.overlay-left {
  transform: translateX(-20%); }

.container.right-panel-active .overlay-left {
  transform: translateX(0); }

.overlay-right {
  right: 0;
  transform: translateX(0); }

.container.right-panel-active .overlay-right {
  transform: translateX(20%); }

.social-container {
  margin: 2em 0; }

img.git-hub-logo {
  max-width: 3em;
  border-radius: 50%; }

#map-single {
  height: 20em;
  width: 50em;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; }

.create-container {
  padding-top: 5em; }

.input {
  padding-top: 5px;
  padding-bottom: 5px; }

.button3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #6a30ec;
  text-align: center;
  transition: all 0.2s; }

.button3:hover {
  background-color: #8760dd; }

.places-title {
  font-family: sans-serif;
  padding-bottom: 50px;
  padding-top: 40px;
  justify-content: center;
  display: flex;
  color: #6a30ec;
  text-decoration: underline; }

.places {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .places h4 {
    color: black; }

#map-container {
  height: 20em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.list-place-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #6a30ec; }

.single-place {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .single-place small {
    font-weight: 700; }

/* /////////// HOME PAGE \\\\\\\\\\\\\\\

_ _,---._
,-','       `-.___
/-;'               `._
/\/          ._   _,'o \
( /\       _,--'\,','"`. )
|\      ,'o     \'    //\
|      \        /   ,--'""`-.
:       \_    _/ ,-'         `-._
\        `--'  /                )
`.  \`._    ,'     ________,','
  .--`     ,'  ,--` __\___,;'
   \`.,-- ,' ,`_)--'  /`.,'
    \( ;  | | )      (`-/
      `--'| |)       |-/
        | | |        | |
        | | |,.,-.   | |_
        | `./ /   )---`  )
       _|  /    ,',   ,-'
      ,'|_(    /-<._,' |--,
      |    `--'---.     \/ \
      |          / \    /\  \
    ,-^---._     |  \  /  \  \
 ,-'        \----'   \/    \--`.
/            \              \   \

*/
#logo-img {
  width: 100%; }

.app-home-nav-nav-bar {
  width: 100%;
  height: calc(100vh - 16vh);
  background-color: #c8b5f1;
  width: 100%; }

.app-home-nav-nav-bar .welcome-phrase {
  height: 100%;
  display: flex;
  align-items: center; }

.app-home-nav-nav-bar .content {
  width: 75%;
  margin: 0 auto;
  text-align: center; }

.app-home-nav-nav-bar .title {
  margin: 0;
  padding: 3em;
  font-size: 6em;
  line-height: 0.9;
  text-transform: uppercase;
  color: black; }

.app-home-nav-nav-bar .nav-link-add {
  position: absolute;
  top: 50%;
  left: 2em;
  letter-spacing: 0.2em;
  opacity: 1;
  color: black;
  text-transform: uppercase; }

.app-home-nav-nav-bar .nav-link-list {
  position: absolute;
  top: 50%;
  right: 2em;
  letter-spacing: 0.2em;
  opacity: 1;
  color: black;
  text-transform: uppercase; }

.user-private {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4em 0; }

img.profile-picture-private {
  max-width: 15em;
  border-radius: 50%;
  margin-right: 1em;
  margin-bottom: 2em; }

section,
span {
  color: black; }

.span-profile-img {
  display: flex; }

label.upload-image-input {
  color: black; }

label.new-password {
  color: black; }

img {
  max-width: 700px; }

h1 {
  padding-top: 70px; }

p {
  max-width: 700px;
  margin: 0;
  padding-bottom: 50px; }

.map-title {
  display: flex;
  justify-content: center;
  color: #6a30ec;
  text-decoration: underline; }

#map-container {
  height: 25em;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0; }

.place-single {
  display: flex;
  flex-direction: column;
  align-items: center; }

.edit-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  padding-bottom: 50px; }

button.delete {
  border-radius: 100px;
  color: white;
  background-color: #8760dd;
  width: 100px;
  text-decoration: none; }

button.delete {
  border-radius: 100px;
  color: white;
  background-color: #8760dd;
  width: 100px;
  padding: 0 20px 0 20px;
  text-decoration: none; }

.comments {
  max-width: 700px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column; }
  .comments p {
    margin: 0, auto;
    padding-bottom: -10px;
    width: 500px; }

#content-input {
  width: 500px; }

.submmit {
  border-radius: 100px;
  color: white;
  background-color: #8760dd;
  text-decoration: none; }

.private-border {
  background-color: #f6f5f7;
  border-radius: 1%;
  padding: 0.5em 0;
  width: 50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 0 auto; }

#name-input {
  border-radius: 50px; }

#latitude-input {
  border-radius: 50px;
  margin-top: 20px; }

#longitude-input {
  border-radius: 50px;
  margin-top: 20px; }

#description-input {
  border-radius: 50px;
  margin-top: 20px; }

#upload-image-input {
  border-radius: 50px;
  margin-top: 20px; }

.edit-form {
  margin-top: 100px; }

#new-password {
  border-radius: 50px; }

/*# sourceMappingURL=style.css.map */